.navbar {
  height: 80px;
  background-color: #003580;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-nav {
  height: 45px;
}

.logo {
  height: 30px;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
