.navbar {
  height: 80px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  border: white solid 1px;
  border-radius: 4px;
  padding: 10px;
  font-weight: 600;
  text-decoration: none;
  color: aliceblue;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
